{#*************************************

Build the infos section showing nb results

{{ dump(info_localized) }}

**************************************#}

{% if info_localized %}
    <div class="res_info">
        {{ info_localized }}
    </div>
{% endif %}


