{#*************************************

Build the Ajax loading section

{{ dump(loading_image) }}

**************************************#}

{% if loading_image %}
    <div class="loading_res">
        <img src="{{ loading_image }}"/>
    </div>
{% endif %}



